<div class="main-container">
    <div id="grid-container">
        <div class="up-container">
            <barra_lateral 
            [welcomeText]="'Te damos la bienvenida al portal Personal Banking'"
            [registerText]="'¿Ya tienes una cuenta?'" 
            [registerLinkText]="'Iniciar sesión'"
            [mensajeSidebar1]="''"
            [mensajeSidebar2]="''"></barra_lateral>
        </div>
        <div id="box3">
            <div id="box3_1">
                <form class="formulario">

                    <h1 class="titulo">Crear <span>Cuenta</span></h1>

                    <input class="nombre" type="text" placeholder="Ingresa tus nombres" />

                    <input type="text" placeholder="Ingresa tus apellidos" />

                    <input type="text" placeholder="Ingresa tu DNI" />

                    <input type="text" placeholder="Ingresa tu fecha de nacimiento" />

                    <input type="password" placeholder="Ingresa tu nueva contraseña" />

                    <input type="password" placeholder="Repite la contraseña que ingresaste" />

                    <button type="submit" class="boton">Crear cuenta</button>
                </form>
            </div>
        </div>
    </div>
</div>