<div class="main-container">
    <div id="grid-container">
        <div class="up-container">
            <div id="box1">
                <div>
                    <img src="./assets/img-con.svg" width="140px" height="50px">
                </div>
                <div>
                    <h2 id="aside-text">Te damos la bienvenida al portal Personal Banking</h2>
                </div>
                <div>
                    <p id="aside-text-down">¿Eres nuevo en el banco?</p>
                    <a id="create-key-text" href="#">Crea tu clave</a>
                </div>
            </div>
            <div id="box2">
                <div>
                    <p id="aside-text-up-box2">¿Aún no tienes una cuenta?</p>
                    <a id="register-now" href="#">Registrate ahora</a>
                </div>
            </div>
        </div>

        <div id="box3">
            <div id="box3_1">
                <h1 class="log_tit" id="sesiontit"><span class="inicio" id="iniciotit">Inicio de </span>Sesión</h1>
                <input type="email" class="correo" id="correo"   placeholder="Ingresa tu correo electronico">
                <input  type="password" class="clave" id="clave"  placeholder="Ingresa tu clave de internet">
                <h5 class="problemas">Tienes problema con tu cuenta?<span class="contra" id="recuperar"> Recuperar
                        contraseña</span></h5>
                <button class="btn_inicio" id="btniniciar">Iniciar Sesión</button>
            </div>

        </div>

    </div>
</div>