<div class="main-container">
    <div id="grid-container">
        <div class="up-container">
            <div id="box1">
                <div>
                    <img src="./assets/img-con.svg" width="140px" height="50px">
                </div>
                <div>
                    <h2 id="aside-text">{{welcomeText}}</h2>
                </div>
                <div>
                    <p id="aside-text-down">{{mensajeSidebar1}}</p>
                    <a id="create-key-text" href="#">{{mensajeSidebar2}}</a>
                </div>
            </div>
            <div id="box2">
                <div>
                    <p id="aside-text-up-box2">{{registerText}}</p>
                    <a id="register-now" [routerLink]="['/registro']">{{registerLinkText}}</a>
                </div>
            </div>
        </div>
